@import "tailwindcss";

body {
  background-image: url('/control.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}